a.exe
.vscode/settings.json
graph.txt
Debug.log
simulate.bat
.VSCodeCounter/2021-02-22_20-11-39/details.md
.VSCodeCounter/2021-02-22_20-11-39/results.csv
.VSCodeCounter/2021-02-22_20-11-39/results.md
.VSCodeCounter/2021-02-22_20-11-39/results.txt